<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="en"><!--<![endif]--><head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Eric Neifert</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= stylesheet_link_tag "staff/bootstrap", "staff/font-awesome", "staff/jquery-ui-1.8.16.custom", "staff/lightbox.min", "staff/slideshow", "staff/style", "data-turbolinks-track" => true %>
<%= javascript_include_tag "staff/jquery.min", "staff/bootstrap", "data-turbolinks-track" => true %>
<%= javascript_include_tag "staff/custom", "staff/jquery.easing.min", "staff/jquery.easypiechart", "staff/jquery.isotope", "staff/jquery.ui.widget.min", "staff/jquery.ui.rlightbox", "data-turbolinks-track" => true %>

<noscript>
  <%= stylesheet_link_tag "/staff/fallback.css", "data-turbolinks-track" => true %>  
</noscript>
    <!--[if lt IE 9]>
		<%= stylesheet_link_tag "/staff/fallback.css", "data-turbolinks-track" => true %>
    <![endif]-->
    </head>
    <body data-spy="scroll" data-target=".main-menu">
    <!--wrapper start-->
    <div class="wrapper" id="wrapper">
      <header>               
        <!--menu start-->
        <div class="menu">
          <div class="navbar-wrapper">
            <div class="container">
              <div class="navwrapper">
                <div class="navbar navbar-inverse navbar-static-top">
                  <div class="container">
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                      <a class="navbar-brand" href="#">Menu</a> </div>
                      <div class="navbar-collapse collapse main-menu">
                        <ul class="nav navbar-nav">                          
                          <li class="menuItem active"><a href="#aboutme">About</a></li>
                          <li class="menuItem"><a href="#technical">Skills</a></li>
                          <li class="menuItem"><a href="#experience">experience</a></li>
                          <li class="menuItem"><a href="#education">Education</a></li>
                          <li class="menuItem"><a href="#protfolio">Portfolio</a></li>
                          <li class="menuItem"><a href="#contact">Contact</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End Navbar -->
              </div>
            </div>
          </div>
          <!--menu end-->
        </header>
        <!--about me start-->
        <section class="aboutme" id="aboutme">
          <div class="container">
            <div class="heading">
              <h2>About me</h2>
              <p>A small introduction about my self</p>
            </div>
            <div class="row">
              <div class=" col-xs-12 col-sm-12 col-md-7 col-lg-7">
                <h3>Eric Neifert</h3>
                <h4 class="subHeading">Web Developer from Dillsburg, PA, United States</h4>
                <p>I am web developer who loves God, my family, sports, and making things that make people's lives better. Right now I am working on training the next generation of web developers in the county of Kyrgyzstan and also doing various side projects. I have a wife who is not only awesome but also is great at graphic design works with me on various projects. I also have a 1 year old son who is a cool little guy who loves technology.</p>
                <p>If I work with you, I truly want to make your business better and thinking through how we can use technology to do that is very exciting for me.</p>
                <p>On this page you can find out more about my history and experiences as a programmer. If you would like to work together please fill out the contact form <a href="#contact">here</a></p>
                <a href="#" class="bntDownload">Download a Printable Resume</a> </div>
                <div class=" col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-1 col-lg-offset-1 proPic"> <img src="<%= img_url_for_env("eric.jpg") %>" alt="" class="img-circle topmar"> </div>
              </div>
            </div>
          </section>
          <!--about me end-->
          <!--technical start-->
          <section class="technical" id="technical">
            <div class="container">
              <div class="heading">
                <h2>Technical Skills</h2>
                <p>Here are things I'm good at</p>
              </div>
              <div class="row">
                <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 skillsArea">
                  <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="90"> <span class="percent"></span> </span>
                    <h4>C# / Asp.net MVC</h4>                    
                  </div>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 skillsArea">
                  <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="90"> <span class="percent"></span> </span>
                    <h4>SQL</h4>                    
                  </div>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 skillsArea">
                  <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="90"> <span class="percent"></span> </span>
                    <h4>Javascript / Jquery</h4>                    
                  </div>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 skillsArea">
                  <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="80"> <span class="percent"></span> </span>
                    <h4>Html / CSS</h4>                                        
                  </div>
                </div>                
              </div>              
              <div class="row">
              <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 skillsArea">  
                  <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="70"> <span class="percent"></span> </span>
                    <h4>Ruby on Rails</h4>                    
                  </div>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 skillsArea">
                  <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="65"> <span class="percent"></span> </span>
                    <h4>Python / Django</h4>                                        
                  </div>
                </div>                
                <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 skillsArea">
                  <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="60"> <span class="percent"></span> </span>
                    <h4>PHP / Wordpress</h4>                    
                  </div>
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-3 col-lg-3 skillsArea">
                  <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills"> <span class="chart skilBg" data-percent="60"> <span class="percent"></span> </span>
                    <h4>Photoshop CC</h4>                                        
                  </div>
                </div>                              
              </div>
            </div>
          </section>
          <!--technical end-->
          <!--experience start-->
          <section class="experience" id="experience">
            <div class="container">
              <div class="heading">
                <h2>Work experience</h2>
                <p>My previous associations</p>
              </div>
              <div class="row workDetails">
                <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                  <div class="workYear">Present<br>
                    2012</div>
                  </div>
                  <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                    <div class="arrowpart"></div>
                    <div class="exCon">
                      <h4>Osh Business and Training Center / Eswebtech.com</h4>
                      <h5>Web programmer</h5>                      
                      <p><span class="glyphicon glyphicon-asterisk"></span>Right now I’m creating a web development training center in Osh Kyrgyzstan and also and taking personal contact jobs. You can find out more at <a href="obtc.kg">obtc.kg</a> and <a href="eswebtech.com">eswebtech.com</a></p>
                      <p><span class="glyphicon glyphicon-asterisk"></span>ZenDesk Api: Zendesk is the largest helpdesk company in the world and they contracted me to develop their c# api wrapper. The project can be seen <a href="https://github.com/eneifert/ZendeskApi_v2">here</a></p>                      
                    </div>
                  </div>
                </div>
                <div class="row workDetails">
                  <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                    <div class="workYear">2012<br>
                      2010</div>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                      <div class="arrowpart"></div>
                      <div class="exCon">
                        <h4>Ritter Insurance Marketing</h4>
                        <h5>Web Developer</h5>
                        <p><span class="glyphicon glyphicon-asterisk"></span>Worked with a team of developers to develop C# MVC programs to assist the insurance marketing department</p>
                        <p><span class="glyphicon glyphicon-asterisk"></span>Created the RAP project from scratch that was responsible for paying over 2000 employees each month</p>
                        <p><span class="glyphicon glyphicon-asterisk"></span>Was one of two developers responsible for the <a href="medicareful.com">Medicareful.com</a> project</p>
                      </div>
                    </div>
                  </div>
                  <div class="row workDetails">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                      <div class="workYear">2010<br>
                        2008</div>
                      </div>
                      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon">
                          <h4>Osh Business and Training Center</h4>
                          <h5>Team Member</h5>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Worked with the OBTC to develop businesses and hand them over to locals</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Developed a flexible language learning program in C# and a fully customizable keyboard using macro scripts. These programs as well as some of my other language resources are used by dozens of people all throughout Kyrgyzstan and by other team members in Asia</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Worked as a network administrator </p>
                        </div>
                      </div>
                    </div>
                    <div class="row workDetails">
                      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <div class="workYear">2008<br>
                          2007</div>
                      </div>
                      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon">
                          <h4>Cragsoft</h4>
                          <h5>Co-Founder</h5>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Designed and developed several Facebook applications that gathered over 1,000,000 users</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Developed many of the web services and tests that would geocode addresses and visually map the data in useable results for Cragsoft's vehicle routing software</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Spoke with potential clients, gathered information, compiled reports, and gave product demonstrations</p>
                        </div>
                      </div>
                    </div>
                    <div class="row workDetails">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                      <div class="workYear">2007<br>
                        2006</div>
                      </div>
                      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon">
                          <h4>Westfalia Technologies</h4>
                          <h5>Software Developer</h5>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Worked on the base team developing their flagship warehouse management software using C#. Developed code for the user interface, core services, hand held devices, and also wrote many advanced SQL queries</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Deployed, tested, and troubleshot the software on live multimillion dollar warehouses and successfully met  customer deadlines</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>During my first two weeks on a live site I identified a subtle database transaction problem and worked with my team on a solution that increased the throughput of the automated system by over 100% at Fage Yogurt</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Reverse engineered a TCP/IP interface to a bar code scanner and integrated it into our system</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Researched and wrote papers to other staff members explaining interesting concepts  in the .Net language</p>                          
                        </div>
                      </div>
                    </div>
                    <div class="row workDetails">
                      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <div class="workYear">2005 - 06<br>
                        Internship
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon">
                          <h4>TechHarmony</h4>
                          <h5>Software Developer</h5>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Designed and developed web applications for clients using ASP.Net</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Worked with SQL databases</p>                          
                        </div>
                      </div>
                    </div>
                    <div class="row workDetails">
                      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <div class="workYear">2005<br>
                        Internship</div>
                      </div>
                      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon">
                          <h4>Genesis Systems</h4>
                          <h5>Software Developer</h5>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Designed and developed medical record software for HUP using C#</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>¨  Co-designed and implemented a large relational database</p>
                        </div>
                      </div>
                    </div>
                    <div class="row workDetails">
                      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <div class="workYear">2004<br>
                        Internship</div>
                      </div>
                      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon">
                          <h4>Perfect Order</h4>
                          <h5>Support Technician</h5>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Designed and implemented web applications using PHP</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Fixed bugs and errors in software</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <!--experience end-->
                <!--education start-->
                <section class="education" id="education">
                  <div class="container">
                    <div class="heading">
                      <h2>Education & Diplomas</h2>
                      <p>What I have done in my academic career</p>
                    </div>
                    <div class="row workDetails">
                      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <div class="workYear">2002 - 2006</div>
                      </div>
                      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
                        <div class="arrowpart"></div>
                        <div class="exCon">
                          <h4>Bachelor's degree in Computer Science</h4>
                          <h5>Shippensubrg University of PA</h5>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Graduated with honors in Computer Science from Shippensburg University of Pennsylvania</p>
                          <p><span class="glyphicon glyphicon-asterisk"></span>Served as an officer for Upsilon Pi Epsilon. This is a nationwide Honors Society for the top students in the Computing and Information Disciplines</p>
                        </div>
                      </div>
                    </div>                                      
                </section>
                <!--education end-->
                <!--protfolio start-->
                <section class="protfolio" id="protfolio">
                  <div class="container">
                    <div class="heading">
                      <h2>Portfolio</h2>
                      <p>showcase of my latest works</p>
                    </div>
                    <div class="portfolioFilter">
                      <ul>
                        <li><a href="#" data-filter="*" class="current">All</a></li>
                        <li><a href="#" data-filter=".photos">Photos</a></li>
                        <li><a href="#" data-filter=".branding">Branding</a></li>
                        <li><a href="#" data-filter=".illustration">Illustration</a></li>
                      </ul>
                    </div>
                    <ul class="portfolioContainer row">
                      <li class="photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/portfolio/big/1.jpg" title="Project Title1" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image1" alt=""  > </div>
                      </li>
                      <li class="branding illustration col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/portfolio/big/2.jpg" title="Project Title2" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image2" alt="" > </div>
                      </li>
                      <li class="illustration col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/portfolio/big/3.jpg" title="Project Title3" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image3" alt="" > </div>
                      </li>
                      <li class="branding illustration col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/portfolio/big/4.jpg" title="Project Title4" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image4" alt="" > </div>
                      </li>
                      <li class="illustration photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/portfolio/big/5.jpg" title="Project Title5" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image5" alt="" > </div>
                      </li>
                      <li class="branding photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/portfolio/big/6.jpg" title="Project Title6" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image6" alt="" > </div>
                      </li>
                      <li class="illustration photos col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/portfolio/big/7.jpg" title="Project Title7" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image7" alt="" > </div>
                      </li>
                      <li class="branding col-xs-6 col-sm-4 col-md-3 col-lg-3">
                        <div class="lightCon"> <span class="hoverBox"> <span class="smallIcon"> <a rel="lightbox-demo" href="images/portfolio/big/8.jpg" title="Project Title8" class="zoom lb lb_warsaw1"><i class="fa fa-search fa-2x"></i></a> <a href="#" title="Project Link" target="_blank" class="linKed"><i class="fa fa-link fa-2x"></i></i></a> </span> </span> <img src="http://placehold.it/450x450&text=image8" alt="" > </div>
                      </li>
                    </ul>
                  </div>
                </section>
                <!--protfolio end-->
                <!--contact start-->
                <section class="contact" id="contact">
                  <div class="container topCon">
                    <div class="heading">
                      <h2>Get In Touch</h2>
                      <p>Please feel free if you would like to have a chat.</p>
                    </div>
                  </div>
                  <div class="row mapArea">
                    <!-- <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/?ie=UTF8&amp;ll=-37.817682,144.957595&amp;spn=0.01134,0.026157&amp;t=m&amp;z=16&amp;output=embed"></iframe> -->
                  </div>
                </section>
                <section class="contactDetails">
                  <div class="container">
                    <!--contact info start-->
                    <div class="col-xs-12 col-sm-3 col-md-4 col-lg-4">
                      <h4>Contact details</h4>
                      <p> <i class="fa fa-map-marker fa-lg"></i>Osh Kyrgyzstan</p>
                      <p> <i class="fa fa-mobile fa-lg"></i> +996 552 009 039</p>
                      <p> <i class="fa fa-envelope-o "></i> <a href="mailto:eric@obtc.kg">eric@obtc.kg</a></p>
                      <p> <i class="fa fa-link "></i> <a href="obtc.kg">obtc.kg</a></p>
                    </div>
                    <!--contact info end-->
                    <!--contact form start-->
                    <div class="col-xs-12 col-sm-9 col-md-8 col-lg-8 conForm">
                      <h4>Shoot a message!</h4>
                      <div id="message"></div>
                      <form method="post" action="php/contact.php" name="cform" id="cform">
                        <input name="name" id="name" type="text" class="col-xs-12 col-sm-6 col-md-6 col-lg-6" placeholder="Your name..." >
                        <input name="email" id="email" type="email" class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 noMarr" placeholder="Your email..." >
                        <textarea name="comments" id="comments" cols="" rows="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" placeholder="Your message..."></textarea>
                        <input type="submit" id="submit" name="send" class="submitBnt" value="Send message">
                        <div id="simple-msg"></div>
                      </form>
                    </div>
                    <!--contact form end-->
                  </div>
                </section>
                <!--contact end-->
                <!--footer start-->
                <section class="footer" id="footer">
                  <div class="container">
                    <ul>
                      <li><a href="#"><i class="fa fa-twitter fa-2x"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook fa-2x"></i></a></li>
                      <li><a href="#"><i class="fa fa-linkedin fa-2x"></i></a></li>
                      <li><a href="#"><i class="fa fa-pinterest fa-2x"></i></a></li>
                      <li><a href="#"><i class="fa fa-dribbble fa-2x"></i></a></li>
                      <li><a href="#"><i class="fa fa-rss fa-2x"></i></a></li>
                    </ul>
                  </div>
                </section>
                <!--footer end-->
              </div>
              <!--wrapper end-->
              <!--modernizr js-->                            
              

</body>
</html>