<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1" ></li>        
        <li data-target="#myCarousel" data-slide-to="2" ></li>        
        <li data-target="#myCarousel" data-slide-to="3" ></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/june_cashmere_website.jpg" alt="" class="larger_than_1400">         
          <img src="/june_cashmere_website_smaller.jpg" alt="" class="smaller_than_1400">                    
          <div class="container">
            <div class="carousel-caption">              
              <p style="position: relative; top: 60px;"><iframe width="605" height="340" src="https://www.youtube.com/embed/lQWRDnsw5m8" frameborder="0" allowfullscreen></iframe></p>
              <p style="margin-top:60px;"><a class="btn btn-lg btn-primary" href="http://www.junecashmere.com" target="_blank" role="button">junecashmere.com</a></p>
            </div>
          </div>
        </div>  
        <div class="item ">
          <img src="/goat2_compressed.jpg" alt="" class="larger_than_1400">          
          <img src="/goat2_smaller.jpg" alt="" class="smaller_than_1400">          

          <div class="container">
            <div class="carousel-caption">
              <h1><%= t :developing_cashmere %></h1>
              <p><%= t :more_info_to_come %></p>
              <p><a class="btn btn-lg btn-primary" href="<%= projects_cashmere_url %>" role="button"><%= t :find_out_more %></a></p>
            </div>
          </div>
        </div>      
        <div class="item">          
          <img src="/computers_small.jpg" alt="" class="larger_than_1400">          
          <img src="/computers_smaller.jpg" alt="" class="smaller_than_1400">          
          <div class="container">
            <div class="carousel-caption">
              <h1><%= t :webdevelopment %></h1>
              <p><%= t :more_info_to_come %></p>
              <p><a class="btn btn-lg btn-primary" href="<%= projects_webdevelopment_url %>" role="button"><%= t :find_out_more %></a></p>
            </div>
          </div>
        </div>  
        <div class="item">
          <img src="<%= img_url_for_env("chalkboard_small.jpg") %>" alt="">                    
          <div class="container">
            <div class="carousel-caption">
              <h1><%= t :english_training %></h1>
              <p><%= t :more_info_to_come %></p>
              <p><a class="btn btn-lg btn-primary" href="<%= projects_english_url %>" role="button"><%= t :find_out_more %></a></p>
            </div>
          </div>
        </div>  

      </div>
                        
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">        
          <img class="img-circle" style="width: 140px; height: 140px;" src="<%= img_url_for_env('cashmere_ball.jpg') %>">
          <h2><%= t :cashmere %></h2>
          <p><%= t :cashmere_short_promo %></p>
          <p><a class="btn btn-default" href="<%= projects_cashmere_url %>" role="button"><%= t :view_details %> »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" alt="Image courtesy of phanlop88 / FreeDigitalPhotos.net" style="width: 140px; height: 140px;" src="<%= img_url_for_env('tablet.jpg') %>">
          <h2><%= t :webdevelopment %></h2>
          <p><%= t :webdev_short_promo %></p>
          <p><a class="btn btn-default" href="<%= projects_webdevelopment_url %>" role="button"><%= t :view_details %> »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" alt="Image courtesy of bplanet / FreeDigitalPhotos.net" style="width: 140px; height: 140px;" src="<%= img_url_for_env('education.jpg') %>">
          <h2><%= t :english_training %></h2>
          <p><%= t :english_short_promo %></p>
          <p><a class="btn btn-default" href="<%= projects_english_url %>" role="button"><%= t :view_details %> »</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
    </div><!-- /.container -->

<script type="text/javascript">

var app_ready = function() {

  if($( document ).width() > 1400){
    $('.smaller_than_1400').remove();
  }
  else{
    $('.larger_than_1400').remove();
  }

  
}

$(document).ready(app_ready);
$(document).on('page:load', app_ready);

</script>