<div class="container main-container">

	<div class="row featurette-heading">
	    <div class="col-md-7">
	      <h2 class="large-font"><%= t :developing_cashmere %><span class="text-muted"><%= t :changing_lives %></span></h2>
	      <p class="lead"><%= t :cashmere_main_html %></p>
	    </div>
	    <div class="col-md-5">
	      <img class="featurette-image img-responsive hide_on_mobile" alt="Cashmere" src="<%= img_url_for_env('yarn.jpg')  %>">	          
	      <img class="featurette-image img-responsive hide_on_mobile" alt="Cashmere" src="<%= img_url_for_env('boy.jpg')  %>">
	    </div>
	</div>

	<%= render :partial => "contact/form" %>
</div>      