<div class="container">

	<div class="row featurette-heading">
    <div class="col-md-7">
      <h2 class="large-font"><%= t :developing_teachers %><span class="text-muted"><%= t :changing_lives %></span></h2>
      <p class="lead"><%= t :english_main_html %> </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-responsive" alt="Cashmere" src="<%= img_url_for_env('book.jpg')  %>">	
    </div>
  </div>

  <%= render :partial => "contact/form" %>
</div>      