<div class="container">
	<div class="row featurette-heading">	        
	    <div class="col-md-5">
	      <img class="featurette-image img-responsive hide_on_mobile" alt="Image courtesy of photoraidz / FreeDigitalPhotos.net"  src="<%= img_url_for_env('cloud.jpg')  %>">
        </div>
        <div class="col-md-7">
	          <h2 class="large-font"><%= t :developing_programmers %> <span class="text-muted"><%= t :changing_lives %></span></h2>
	          <p class="lead"><%= t :programming_main_html %>          	
	          </p>
        </div>
	</div>	

	<%= render :partial => "contact/form" %>	
</div>      