<!DOCTYPE html>
<html>
<head>
  <title>Obtc</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Google Analytics-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-47877287-1', 'obtc.kg');
    ga('send', 'pageview');

  </script>

  <style type="text/css">
    .logo {
      display: block;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      background: url('<%= img_url_for_env("logo.png") %>') no-repeat;
      width: 500px; /* Width of new image */
      height: 60px; /* Height of new image */
      padding-left: 500px; /* Equal to width of new image */
    }

    @media (max-width: 995px) {      
      .logo {
        background: url('<%= img_url_for_env("logo_med.png") %>') no-repeat;
        width: 335px; /* Width of new image */
        height: 60px; /* Height of new image */
        padding-left: 335px; /* Equal to width of new image */        
      }
    }
    
    @media (max-width: 770px) {
      .logo {
        background: url('<%= img_url_for_env("logo_small.png") %>') no-repeat;
        height: 60px;
        width: 195px;              
        padding-left: 195px; /* Equal to width of new image */        
        
      }
      
      .navbar-right {
        margin-top:0px;
      }
    }
  </style>  
</head>
<body>
	<header class="navbar navbar-inverse navbar-top no-bottom-margin" role="banner">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="<%= root_with_locale_path(:locale => I18n.locale) %>"><img class="logo" /></a>
            </div>
            <div class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                <li>                
                  <% if I18n.locale == :en %>
                    <a href="<%= root_with_locale_path(:locale => 'ru') %>">Русский язык</a>                                
                  <% else %>
                    <a href="<%= root_with_locale_path(:locale => 'en') %>">English</a>              
                  <% end %>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t :projects %> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= projects_cashmere_url %>"><%= t :cashmere %></a></li>
                    <li><a href="<%= projects_webdevelopment_url %>"><%= t :webdevelopment %></a></li>
                    <li><a href="<%= projects_english_url %>"><%= t :english %></a></li>                    
                  </ul>
                </li>                                
                <li><a href="<%= contact_url %>"><%= t :contact %></a></li>                
              </ul>
            </div>
          </div>
        </div>    
    </header>
    
    <%= yield %>

<footer>
  <div class="container">    

  <div class="footer-divider" ></div>
    <!-- FOOTER -->
      
        <p class="pull-right"><a href="#"><%= t :back_to_top %></a></p>
        <p>©OBTC 2014 Company, Inc. ·</p>      
  </div>  
</footer>

</body>
</html>
